/* stylelint-disable no-descending-specificity */

.ipru-sm-carousel-wrapper {
    max-width: 100%!important;
    margin-left: 13%!important;
    padding: 0 !important;
    overflow: hidden;
  }

.sm-carousel{
 margin-bottom: 20px;
}

.sm-slide {
  margin-right: 20px;
  border-radius: 10px;
  padding: 2rem 1.5rem;
  position: relative;
  height: 160px;
  margin-top: 18px;
}

.sm-slide-1 {
  background: #fbcdbd;
}

.sm-slide-2 {
  background: #eeefe2;
}

.sm-slide-3 {
  background: #eeefe2;
}

.sm-slide-4 {
  background: #b2c9d9;
}

.sm-slide-5 {
  background: #fcd9bc;
}

.sm-slide-6 {
  background: #fcd9bc;
}

.sm-slide-7 {
  background: #fcd9bc;
}

.sm-slide-8 {
  background: #fef2ed;
}

.sm-slide-9 {
  background: #fef2ed;
}

.sm-slide h3 {
  font-size: 24px;
  font-weight: 800;
  color: #444;
  margin: 4px 0 10px !important;
  z-index: 9;
  position: relative;
  max-width: 250px;
  min-height: 58px;
  font-family: Mulish, sans-serif;
}

.slide-cta a {
  font-weight: 700;
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 40px;
  border: 0;
  background-color: #e06336;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  position: relative;
  width: max-content;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  font-family: Mulish, sans-serif;
}

.slide-cta a:hover {
  background-color: #e06336;
  transform: scale(1.05);
}

.slide-img img {
  height: 125px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.ipru-sm-carousel .owl-nav {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 10px;
}

.ipru-sm-carousel .owl-dots {
  display: flex;
  justify-content: center;
  margin-top: -16px;
  margin-bottom: 12px;
  gap: 5px;
}

.ipru-sm-carousel .owl-nav button {
  position: relative;
  width: 25px;
  height: 25px;
  background: #fbcdbd;
  border: none;
  border-radius: 50px;
  color: #e26c41;
}

.ipru-sm-carousel span {
  position: absolute;
  top: -9px;
  left: 10px;
  font-size: 25px;
}

.ipru-sm-carousel .owl-dots button {
  background: #fbcdbd;
  border: none;
  border-radius: 50px;
  color: #e26c41;
  width: 8px;
  height: 12px;
}

.ipru-sm-carousel .owl-dots .owl-dot:disabled,
.ipru-sm-carousel .owl-dots .owl-dot.active {
  background: #e26c41 !important;
}
