/* stylelint-disable no-descending-specificity */

.ipru-faq-search {
  margin: auto;
  padding: 20px;
  background-color: #dce5ec;
  border-radius: 8px;
  /* stylelint-disable-next-line color-function-notation */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 10%);
}

.faq-search {
  display: flex;
  align-items: center;
  background-color: #fff;
  /* stylelint-disable-next-line color-function-notation */
  box-shadow: 0 3.86px 11.58px 0 #0000001F;
  padding: 0 0 0 20px;
  margin: 20px auto;
  width: 50%;
  height: 50px;
  border-radius: 55px;
    font-size: 16px;
    font-weight: 700;
    border: unset;
    outline: 0;
}

.faq-buttons{
  padding-bottom: 8px;
}

.faq-search input {

  border: none;
  outline: none;
  font-size: 16px;

}

.faq-search button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  margin-right: 10px;
}

.faq-search button img {
  width: 20px;
  height: 20px;
}

/* Tags  */

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
    padding: 10px 2.3rem;
    font-size: 16px;
    font-weight: 500;
    color: #444;
    box-shadow: 0 2.41px 14.45px 0 #38292908;
    background: #fafafa;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin: 0;
}


.tag.active {
      color: #fff !important;
    background: #f15a22 !important;
}
