.time-weighted-return-container {
  display: flex;
  justify-content: center;
}

.time-weighted-return-wrapper {
  width: 1170px;
  margin: 0 auto;
  background: #fcf5ef 0% 0% no-repeat padding-box;
  padding: 0 60px !important;
  border-radius: 20px;
}

.time-weighted-return-heading h2 {
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
  color: #003b6e;
  margin-bottom: 0;
}

.time-weighted-return-cards p {
  text-align: center;
  letter-spacing: 0;
  color: #444;
  padding: 0 20px;
  font: 14px / 18px ;
}

.time-weighted-return h3 {
  background: #eadacc 0% 0% no-repeat padding-box;
  font: normal normal bold 16px / 24px ;
  letter-spacing: 0;
  color: #444;
  padding: 20px 18px;
  border-radius: 10px;
  margin: 20px 0;
  display: block;
  max-width: 525px;
}

.time-weighted-return-heading p {
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0;
  color: #444;
}

.time-weighted-return-points ul li {
  font-size: 14px;
}

.time-weighted-return-points ul {
  font: italic normal normal 14px / 26px;
  color: #444;
  margin: 2px;
  padding-left: 16px;
  padding-bottom: 20px;
}

.time-weighted-return-points p {
  font-size: 16px;
  margin: 0;
}

.section .default-content-wrapper p{
  font: normal normal normal 16px / 24px ;
  letter-spacing: 0;
  color: #444;
}
