.ipru-test-monials-wrapper{
position: relative;
  width: 1214px;
  overflow: hidden;
  padding-bottom: 25px !important;
}

.ipru-test-monials{
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.ipru-test-monials.no-transition {
  transition: none;
}

.ipru-test-body tbody {
  display: flex;
  gap: 20px;
  position: relative;
}

.test-card {
  background: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 10px;
  min-width: 31.7%;
  flex: 0 0 auto;
  margin-right: 10px;
}

.test-card p {
  margin: 0;
}

.test-card picture:nth-child(1) img {
  width: 54px;
  margin-bottom: 1.5rem;
}

.test-card h2 {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  height: 90px;
}

.test-card .button-container {
  display: flex;
  background: #f4f6ef;
  padding: 6px 12px;
  border-radius: 20px;
  width: max-content;
  cursor: pointer;
  align-items: center;
  transition: 0.3s ease-in;
}

.test-card .button-container a {
  line-height: 20px;
  font-size: 14px;
  font-weight: 700;
  color: #9a2529;
  width: max-content;
  text-decoration: none;
}

.test-card .button-container a:hover {
  background: transparent;
}

.test-box {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}

.box-data-1 picture img {
  background: #f5f5f5;
  border-radius: 50%;
  width: 45px !important;
  height: 45px;
  margin-bottom: 0 !important;
}

.box-data-2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-weight: 700;
  font-size: 14px;
}

.box-data-2 picture img {
  width: 18px !important;
  height: 18px;
  margin-bottom: 0 !important;
}

/* Code for carousel Functions  */

.carousel {
  overflow: hidden;
  width: 100%;
}


.carousel-arrow {
  position: absolute;
  top: 100%;
  transform: translateY(-144%);
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 2px 10px;
  font-size: 18px;
  z-index: 10;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}

.left-arrow {
  left: 450px;
}

.right-arrow {
  right: 450px;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 34px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}
