#a-compound-interest-calculator-can-help-you-in-the-following-ways{
    text-align: center;
    font: normal normal normal 16px / 20px Mulish;
    letter-spacing: 0px;
    color: #444444;
        width: 800px;

}
#how-can-a-compound-interest-calculator-help-you{
      text-align: center;
    font: normal normal bold 24px / 32px Mulish;
    letter-spacing: 0px;
    color: #003B6E;
    opacity: 1;
}

#frequently-asked-questions{
  text-align: center;
    font: normal normal normal 30px / 20px Mulish;
    padding: 15px;
}