#a-compound-interest-calculator-can-help-you-in-the-following-ways {
  text-align: center;
  font: normal normal normal 16px / 20px medium;
  letter-spacing: 0;
  color: #444;
  width: 800px;
}

#frequently-asked-questions {
  text-align: center;
  font-size: 24px;
  font-family: Mulish;
  color: #003b6e;
  font-weight: normal;
  padding: 15px;
}
