#a-compound-interest-calculator-can-help-you-in-the-following-ways {
  text-align: center;
  font: normal normal normal 16px / 20px medium;
  letter-spacing: 0;
  color: #444;
  width: 800px;
}

#frequently-asked-questions {
  text-align: center;
  font: normal normal normal 30px / 20px;
  padding: 15px;
}
